    <style>
        
        .errorimg{
            max-width: 100%;
            height : auto;
            align-content: center;
        }
    </style>
        <link rel="stylesheet" type="text/css" href="/css/login.css">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <div class="imgcontainer">
        <img src="/images/404-Errornew.jpg" alt="Avatar" class="errorimg">
      </div>


