    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
<div class="zone green div">
<h1 class="b">Restaurant Details</h1>
<div id="dashb2">
    <div id="Restaurant-details">
        <h2 class="a"><%=user2.resname%></h2>
        <h3 class="a">Contact Details : <%=user2.phone%></h3>
        <h3 class="a">Find Us At : <%=user2.address%></h3>
    </div>
        <a href="/user2/logout"><button class="logout">Logout</button></a><br><br>
        <a href="/user2/Menu"><button class="menu">Menu</button></a>
  </div>  
</div>