<link rel="stylesheet" type="text/css" href="/css/register.css">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
<a href=''><button><b>Email Does Not Exist. Please Resister Yourself Restaurant Owner!</b></button></a><br>
<form method="post" action="/user2/register" id="register2">
    <div class="imgcontainer">
        <img src="/images/reg-1.png" alt="Avatar" class="loginimg">
      </div>
<div class = "heading"><b>
    <h1>Welcome restaurant owner!!<br>Register Now to get in!!!</h1>
    </b></div>

        <label>Restaurant's Name:
            <input type="text" name="resname" placeholder="Enter Restaurant's name" required>
        </label><br>

        <label>Email:
            <input type="email" name="email" placeholder="Enter Email" required>
        </label><br>


        
        <label>Password:
            <input type="Password" name="password" placeholder="Enter Password" required>
        </label><br>
        
        <label>Confirm Password:
            <input type="Password" name="password2" placeholder="Enter Password" required>
        </label><br>
        

        <label>Contact Number:
        <input type="text" name="contact" placeholder="Enter Restaurant's Phone Number" required></label><br>
        
        
        <label>Address:
            <input type="text" name="address" placeholder="Enter Restaurant's Address" required>
        </label><br>
        <button type="submit"><b>Register</b></button> 
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            </div>
    
    
</form>