<link rel="stylesheet" type="text/css" href="/css/login.css">
<a href=''><button><b>Please Login!</b></button></a><br>
    <form method="post" action="/user1/login" id="login1">
        <div class="imgcontainer">
            <img src="/images/LOGIN_IMG.jpg" alt="Avatar" class="loginimg">
          </div>
          <div class = "heading">
            <h1><b>Feeling hungry !!! <br> Login and be a part of FAP fam!!</b></h1>
            </div>
		<div class="container">
		
            <label><B>Email:</B>
                <input type="email" name="email" placeholder="Enter Email" required>
            </label><br>


			
			<label><B>Password:</B>
                <input type="Password" name="password" placeholder="Enter Password" required>
            </label><br>
			
            <button type="submit"><b>Login</b></button> 
		
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <a href="/"><button type="button" class="cancelbtn">Cancel</button></a>
            </div>
</form>
