<link rel="stylesheet" type="text/css" href="/css/login.css">
<button><b>Please Login, Restaurant Owner!</b></button>
<form method="post" action="/user2/login" id="login2">
    <div class="imgcontainer">
        <img src="/images/logon_img2.jpg" alt="Avatar" class="loginimg">
      </div>
      <div class = "heading">
        <h1><b>Welcome restaurant owner!!! <br> Wanna get you dishes featured? Login now!!!</b></h1>
        </div>
    <div class="container">
    
        <label><B>Email:</B>
            <input type="email" name="email" placeholder="Enter Email" required>
        </label><br>


        
        <label><B>Password:</B>
            <input type="Password" name="password" placeholder="Enter Password" required>
        </label><br>
        
        <button type="submit"><b>Login</b></button> 
    
    </div>
    <div class="container" style="background-color:#f1f1f1">
        <a href="/"><button type="button" class="cancelbtn">Cancel</button>
        </div>
</form>