    <link rel="stylesheet" type="text/css" href="/css/register.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <a href='/user2/register'><button><b>I'm A Restaurant Owner!</b></button></a><br>
    <form method="post" action="/user1/register" id="register1">
        <div class="imgcontainer">
            <img src="/images/reg-1.png" alt="Avatar" class="loginimg">
          </div>
		
    <div class="heading">
        <b>
        <h1>New to Fap Fam?<br>Register Now n enjoy the feast!!!</h1>
    </b>
    </div>
			<label><b>Your Name:</b>
                <input type="text" name="name" placeholder="Enter Username" required>
            </label><br>

            <label><b>Email:</b>
                <input type="email" name="email" placeholder="Enter Email" required>
            </label><br>


			
			<label><b>Password:</b>
                <input type="Password" name="password" placeholder="Enter Password" required>
            </label><br>
			
			<label><b>Confirm Password:</b>
                <input type="Password" name="password2" placeholder="Enter Password" required>
            </label><br>
			

			<label><b>Contact Number:</b>
			<input type="text" name="phone" placeholder="Enter Your Phone Number" required></label><br>
            
            
            <label><b>Your Address:</b>
                <input type="text" name="address" placeholder="Enter Your Address" required>
            </label><br>
            <button type="submit"><b>Register</b></button> 
            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn">Cancel</button>
                </div>
		
        </div>
</form>
