body{
    background: url('/images/res3.jpg') no-repeat;
	height:100%;
	background-attachment: fixed; 
    background-position: center;
	background-size: cover;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}


.Order-details{
    display: inline-block;
    top: 65%;
    width: 60%;
    padding: 2%;
    background-color: rgba(60,179,113,0.8);
    text-align: center;
    align-items: center;
    border-radius: 1%;
}

.orderinfo{
    font-size: 20px;
    margin: 1%;
    padding: 2%;
    display: inline-block;
	width: 30%;
	min-width: 350px;
	color: white;
    border: solid white 5px;
	top:65%;
    left:50%;
    border-radius: 2.5%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
h2 {
    color: white;
    font-size: 30px;
    padding: 10px 24px;
    border : 2px solid white;
}
.button{
    background-color: darkcyan;
    font-size: 20px;
    color: white;
    padding: 10px 24px;
    border : 2px solid white;
    border-radius: 5%;
}
input[type=submit]{
    font-size: 20px;
    border : 2px solid white;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 2%;
}
img {
    border: 20px solid white;
    width: 250px;
    border-radius: 1%;
    padding: 1%;
  }

.button:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

 